body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.note-list,
.note-list-item {
  transition: all 300ms ease-in-out;
}

.note-list-title {
  overflow: hidden;
  white-space: nowrap;
  padding-right: 16px;
  text-overflow: ellipsis;
}

.note-list-title:hover {
  color: var(--secondary) !important;
}

.note-empty-state {
  height: calc(100% - 62px);
}

.note-enter {
  opacity: 0;
}
.note-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.note-exit {
  opacity: 1;
}
.note-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.border-bottom-0 {
  border-bottom: none !important;
}

.border-none {
  border: none !important;
}
